@import "../css/reset.css";
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ccc;
  background: #edf0f1;
}
body header {
  background: #BC3B69;
  border-radius: 0 0 16px 16px;
  width: 100vw;
  height: 82px;
  top: 0;
  margin: 0 0 16px 0;
}
body header div {
  position: absolute;
  float: left;
  margin: 16px 0;
  left: 16px;
  right: 16px;
  display: block;
}
body header div input.entry {
  font-family: "Roboto", sans-serif !important;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px 24px 24px 8px;
  text-indent: 16px;
  margin: 0;
  outline: none;
  border: none;
}
body header div input.entry:focus {
  color: #fff;
}
body header div input.entry::placeholder {
  color: #fff !important;
}
body header button.add {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  float: right;
  right: 16px;
  top: 16px;
}
body header button.add img {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: auto;
}
body .notice {
  padding: 0 16px;
}
body .notice #unDoneTasks div {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #fff !important;
  border-radius: 8px !important;
  margin: 16px 0;
  color: #444;
  font-weight: bold;
  text-indent: 16px;
  line-height: 50px;
  position: relative;
}
body .notice #unDoneTasks div .trash {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 50px;
  background: #fff;
  position: absolute;
  float: right;
  right: 50px;
  top: 0;
  border-right: 1px solid #edf0f1;
}
body .notice #unDoneTasks div .trash .trashIcon {
  font-size: 22px;
  color: #ccc;
}
body .notice #unDoneTasks div .trash:hover i.trashIcon {
  color: #BC3B69;
}
body .notice #unDoneTasks div .check {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 0 50% 50% 0;
  position: absolute;
  float: right;
  right: 0;
  top: 0;
  border-left: 1px #edf0f1;
}
body .notice #unDoneTasks div .check i.taskStatus {
  color: #BC3B69;
  font-size: 10px;
  line-height: 16px;
  padding: 6px;
  width: 16px;
  height: 16px;
  border: 1.5px solid #BC3B69;
  border-radius: 50%;
}
body .notice #unDoneTasks div .check:hover i.taskStatus {
  color: #fff;
  background-color: rgba(212, 102, 140, 0.748);
  transition: background-color 1seg ease;
}
body .notice #doneTasks div {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #fff !important;
  border-radius: 8px !important;
  margin: 16px 0;
  color: #444;
  font-weight: bold;
  text-indent: 16px;
  line-height: 50px;
  position: relative;
}
body .notice #doneTasks div .trash {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 50px;
  background: #fff;
  position: absolute;
  float: right;
  right: 50px;
  top: 0;
  border-right: 1px solid #edf0f1;
  transition: color 0.5seg ease;
}
body .notice #doneTasks div .trash .trashIcon {
  font-size: 22px;
  color: #ccc;
}
body .notice #doneTasks div .trash:hover i.trashIcon {
  color: #BC3B69;
}
body .notice #doneTasks div .check {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 0 50% 50% 0;
  position: absolute;
  float: right;
  right: 0;
  top: 0;
}
body .notice #doneTasks div .check i.taskStatus {
  color: #fff;
  font-size: 10px;
  line-height: 16px;
  padding: 6px;
  width: 16px;
  height: 16px;
  border: 1.5px solid #BC3B69;
  border-radius: 50%;
  background-color: #BC3B69;
  transition: background-color 0.5seg ease;
}
body .notice #doneTasks div .check:hover i.taskStatus {
  color: #fff;
  background-color: rgba(212, 102, 140, 0.748);
}
body .msg {
  font-size: 19.2px;
  text-align: center;
  display: none;
  margin: 32px auto 0;
  font-weight: bold;
  color: #BC3B69;
}
body hr {
  border: 0;
  height: 1px;
  background-color: #d8e5e0;
  width: 200px;
  margin: 32px auto;
}

@media only screen and (max-width: 768px) {
  .msg {
    font-size: 16px;
  }
}
@media only screen and (max-width: 320px) {
  .msg {
    font-size: 12px;
  }
}

/*# sourceMappingURL=trabajodos.css.map */
