
body{
    background-color: #edf0f1;
    margin: 10px 0 50px; 
    font-family: 'Roboto', sans-serif;
}

header{
    background: #BC3B69;
    border-radius: 10px 25px 25px 10px;
    padding: 15px;
    position: absolute;
    width: 99%;
    height: 50px;
    top: 0%;
}

.entry{
    background-color:#c05e80;
    font-size: 15px;
    text-indent: 18px;
    color: #ffffff;
    border-radius: 5px 25px 25px 5px; 
    border: 0px;
    width: 95%;
    height: 45px;
}

.add{
    position: absolute;
    background-color: #ffffff;
    border-radius: 150%;
    border: 0px;
    top: 20px;
    right: 80px;
    width: 50px;
    height: 50px;
}

.notice{
display: block;
position: relative;
text-align: center;
margin-top: 160px;
color: #a5a3a3;

}

/* LINEA QUE SEPARA EL TEXTO */
hr{  
    width: 10%;
}


/*
Barra que divide tareas pendientes de completadas: #d8e5e0
Fuente dentro del listado de tareas: #444 (lo que devuelve)
*/

.answer{
    background-color:#ffffff;
    font-size: 15px;
    text-indent: 18px;
    color: #000000;
    border-radius: 5px 5px 5px 5px; 
    border: 0px;
    width: 95%;
    height: 45px;
    margin-top: -70px;
    margin-left: 10px;
}
