// otras hojas de estilo como el css reset
@import "../css/reset.css";

// variables
$redBold:#BC3B69;
$entryBg:rgba(255, 255, 255, 0.2);
$entryFontColor: #fff;
$greyBg: #edf0f1;
$greyDivider: #d8e5e0;
$taskFont: #444;
$font:'Roboto', sans-serif;
$titleSize: 32px;
$fS: 15px;

// estilos generales del body
body{
    font-family: $font;
    font-size: $fS;
    color: $taskFont;
    background: $greyBg;
    // estilos para la barra de escritura de las tareas
    header{
        background:$redBold;
        border-radius: 0 0 1rem 1rem;
        // padding: 1rem;
        width: 100vw;
        height: 80px;
        // position: fixed;
        top: 0;
        // display: block;
        div{ 
            // uso este div para lograr posicionar correctamente el input y resolver el positio - que me estaba asignando
            position: absolute;
            float: left;
            margin: 15px 0;
            left: 15px;
            right: 15px;
            display: block;
                input.entry{
                box-sizing: border-box;
                width: 100%;
                height: 50px;
                background-color: $entryBg;
                border-radius: 0.5rem 1.5rem 1.5rem 0.5rem;    
                text-indent: 1rem;
                margin: 0;
                outline: none;
                border: none;
                &::placeholder{
                    color: $entryFontColor !important;
                }
            }
        }   
        button.add{     
            border: none;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: absolute;
            float: right;
            right: 15px;
            top: 15px;
            background: #fff;
            padding: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            margin: 0;
            // background-image: url(img/add.svg) center no-repeat 25px 25px !important;   
            img{
                width: 20px;
                height: 20px;
                display: inline-block;
                margin: auto;
            }
        }
    }
}